<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width" />

  	<title>{% if page.layout == "map" %}{{page.title}}{% else %} Fingal County Council Team Blog from Lesotho{% endif %}</title>
	{% if page.layout == "map" %}
	 {% include map_head.html %}
	{% endif %}
	
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css">

	
	<script src="{{site.baseurl}}/javascripts/vendor/custom.modernizr.js"></script>


</head>
<body>
	<div class="row">
		<h1>
		<a href="{{site.baseurl}}/">
		<img src="{{site.baseurl}}/img/lesotho.png" width="100px"/>
		<img src="{{site.baseurl}}/img/fingal.png" width="250px"/>
		<img src="{{site.baseurl}}/img/action_ireland.jpg" width="140px"/>
		</a>
		
		</h1>
	</div>
	