
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" id="jquery"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->
    <!--<link rel="stylesheet" href="http://api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css" type="text/css" />-->
    <link rel="stylesheet" href="{{site.baseurl}}/fonts/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/style.css" type="text/css" />
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/ui_map.css" type="text/css" />

<style>
#search {
    font-size:150%;
}

</style>